###Data types and Structures questions

1. What are data structures, and why are they important?
 - Data structures are ways to organize and store information so it's easy to use. Think of it like how you keep your stuff in different boxes or drawers at home, depending on what it is and how often you need it.

Why Are Data Structures Important?

-Organize Things: They help keep data in a way that makes it easy to find and use.

-Save Time: They help you do things faster. For example, finding something in a dictionary (hash table) is quicker than searching through a big list.

-Solve Problems: Different problems need different ways to organize data. For example, a queue is perfect for waiting in line.

-Save Space: Some data structures help save memory by using less space to store things.

-Make Programming Easier: They make your code simpler and faster.

2. Explain the difference between mutable and immutable data types with examples?
 - Mutable Data Types: These are types of data that can be changed after they are created. You can modify, add, or remove elements in them.

Immutable Data Types: These are types of data that cannot be changed after they are created. Once you create an object of this type, you cannot alter it.

Mutable Data Types:
Lists: You can change the elements inside a list. For example, you can add, remove, or modify elements in the list.

Example:

In [1]:
my_list = [1, 2, 3]
my_list[0] = 10  # Changing the first element
print(my_list)  # Output: [10, 2, 3]

[10, 2, 3]

Dictionaries: You can change the values or add new key-value pairs in a dictionary.

In [2]:
my_dict = {'a': 1, 'b': 2}
my_dict['a'] = 5  # Changing the value of key 'a'
print(my_dict)  # Output: {'a': 5, 'b': 2}

{'a': 5, 'b': 2}

Immutable Data Types:
Strings: Once you create a string, you cannot change its characters. If you try to modify it, a new string is created.

In [3]:
my_string = "hello"
# This will give an error, as strings are immutable
# my_string[0] = 'H'
my_string = "Hello"  # Creating a new string instead
print(my_string)  # Output: Hello

Hello

Tuples: You cannot change the elements in a tuple after it's created. If you want to change it, you would need to create a new tuple.

In [4]:
my_tuple = (1, 2, 3)
# This will give an error, as tuples are immutable
# my_tuple[0] = 10
my_tuple = (10, 2, 3)  # Creating a new tuple instead
print(my_tuple)  # Output: (10, 2, 3)

(10, 2, 3)

3. What are the main differences between lists and tuples in Python?

| Feature                | List                               | Tuple                              |
|------------------------|------------------------------------|------------------------------------|
| **Mutability**          | Mutable (can be changed)           | Immutable (cannot be changed)      |
| **Syntax**              | Created with `[]`                  | Created with `()`                  |
| **Performance**         | Slightly slower                    | Faster and uses less memory        |
| **Use Cases**           | When elements need to be changed   | When elements should not change    |
| **Methods**             | Many methods like `append()`, `remove()` | Fewer methods like `count()` and `index()` |
| **Memory Usage**        | Uses more memory                   | Uses less memory                   |

4. Describe how dictionaries store data?
 -
Dictionaries in Python store data as key-value pairs, where each key is unique. You can access the value using the key. They are fast because Python uses hashing to find values quickly. Dictionaries are mutable, meaning you can add, remove, or change the key-value pairs.

5. Why might you use a set instead of a list in Python?
 - You might use a **set** instead of a **list** in Python3 for these reasons:

- **Uniqueness**: Sets automatically remove duplicate values, so if you need a collection with **unique** elements, a set is perfect.
   
- **Faster Lookups**: Sets provide **faster lookups** and checks for membership (whether an item exists) compared to lists, because of how they are stored.

- **No Order**: Sets don’t care about the **order** of elements, so if the order isn’t important, a set works well.

- **Efficient Operations**: Sets allow efficient operations like **union**, **intersection**, and **difference** (comparing sets), which are slower with lists.

In short, use a set if you need fast access to unique items and don’t care about the order of elements.

6. What is a string in Python, and how is it different from a list?
 - A **string** in Python is a collection of characters, like text, written inside quotes (`'Hello'` or `"World"`).

### Difference Between String and List:

1. **What They Store**:
   - **String**: Only stores **text** (letters, numbers, or symbols as characters).
   - **List**: Can store different types of things, like **numbers**, **strings**, or even other lists.

2. **Can They Be Changed?**:
   - **String**: You **cannot change** a character in a string after it's created (it's **immutable**).
   - **List**: You **can change** the items in a list (it's **mutable**).

3. **Examples**:
   - **String**: `"Hello"`
   - **List**: `[1, 2, 3]`

So, a **string** is for text and cannot be changed, while a **list** can hold different things and can be changed.

7. How do tuples ensure data integrity in Python?
 - Tuples help keep data safe because once you create them, you **can't change** the values inside. This is called **immutability**.

### How It Helps:
1. **No Accidental Changes**: You can't accidentally modify the data.
2. **Keeps Data Consistent**: Important data stays the same, like coordinates or dates, without risk of being altered.

So, tuples make sure the data you store in them stays **unchanged** and **secure**.

8. P What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores data in a way that allows for fast access to values using a unique key. It works by converting the key into a hash code, which helps quickly locate the corresponding value.

- Python’s dictionaries are built using a hash table behind the scenes. When you use a key to get a value from a dictionary, Python uses a hash function to quickly find the location of that key.

9. Can lists contain different data types in Python?
 - Yes, lists in Python can contain different data types. A list is a flexible collection that can store items of various types, including integers, strings, floats, and even other lists or objects.

10. Explain why strings are immutable in Python?
 - Strings in Python are **immutable** because once they are created, their contents cannot be changed. This decision is made for several reasons:

 ### 1.  **Efficiency**:
   - **Memory Efficiency**: When a string is created, Python allocates a specific amount of memory for it. If strings were mutable, any change to a string would require reallocation of memory every time it's modified, which would be inefficient, especially for large strings.
   
### 2. **Security**:
   - **Data Integrity**: By making strings immutable, you ensure that the data within the string remains constant throughout the program. This helps avoid accidental modifications and keeps the data safe.

### 3. **Performance**:
   - **Hashing**: Python uses strings as keys in dictionaries (hash tables). Since the hash value of a string depends on its content, having immutable strings ensures that the hash value stays the same throughout the program, making lookups in dictionaries fast and reliable.

### 4. **Consistency**:
   - **No Side Effects**: Making strings immutable means they cannot be changed by functions or methods, which avoids unexpected side effects that could arise if one part of a program accidentally changed the contents of a string.

11. What advantages do dictionaries offer over lists for certain tasks?
 Dictionaries are better than lists for some tasks because:
 - Fast Lookups: You can quickly find data using a **key** in a dictionary, while in a list, you might have to search through all the items to find what you're looking for.

 - Unique Keys: In a dictionary, each **key** is unique, so you don't have to worry about duplicates. Lists can have repeated items.

 - Clearer Data: Dictionaries store data in a way that makes more sense, like **name**: **value** pairs, making it easier to understand.

 - Efficient Changes: It's easier to update or add new data in a dictionary because each item has a clear key. Lists are more about keeping items in order, so changing or finding something can take longer.

12. Describe a scenario where using a tuple would be preferable over a list?
 - Scenario: Storing Coordinates
Imagine you're working on a map application where you need to store a set of GPS coordinates (latitude and longitude). These values should never change during the program's execution because the position is fixed.

In this case, using a tuple is a good choice because:

Tuples are immutable, meaning their values can't be changed, ensuring that the coordinates stay the same.
Tuples are faster than lists because they are smaller and don't require memory management for changes.

example:-

In [6]:
# Using a tuple to store coordinates
coordinates = (40.7128, -74.0060)  # (latitude, longitude)

# You can't accidentally change the coordinates
# coordinates[0] = 41.0  # This will raise an error because tuples are immutable

13. How do sets handle duplicate values in Python?
 - In Python, sets automatically remove duplicates. If you try to add the same value twice, it will only keep one copy of that value.

 example:-

In [7]:
my_set = {1, 2, 3, 3, 4, 5, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

14.  How does the “in” keyword work differently for lists and dictionaries?
 - . For Lists:
When you use in with a list, it checks if an element exists in the list.

Example with a list:

In [8]:
my_list = [1, 2, 3, 4]
print(3 in my_list)  # Output: True (because 3 is in the list)
print(5 in my_list)  # Output: False (because 5 is not in the list)

True
False

2. For Dictionaries:
When you use in with a dictionary, it checks if the key exists in the dictionary, not the value.

Example with a dictionary:

In [9]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print('a' in my_dict)  # Output: True (because 'a' is a key in the dictionary)
print(1 in my_dict)    # Output: False (because 1 is not a key, it's a value)

True
False

15. Can you modify the elements of a tuple? Explain why or why not?
 - No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable.

Why can't you modify a tuple?
Once a tuple is created, its elements cannot be changed, added, or removed.
This behavior ensures that the data stored in a tuple stays constant and cannot be accidentally altered.
Example:

In [16]:
my_tuple = (1, 2, 3)
# Trying to modify an element will raise an error
# my_tuple[0] = 10  # This will cause a TypeError because tuples are immutable

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary in Python is a dictionary where one or more of its values are themselves dictionaries. This allows you to store data in a hierarchical structure.

Example:
Consider a dictionary that stores information about a company’s employees, where each employee has their own dictionary containing their details.

In [14]:
company = {
    "Alice": {
        "age": 30,
        "position": "Manager",
        "department": "HR"
    },
    "Bob": {
        "age": 25,
        "position": "Developer",
        "department": "IT"
    },
    "Charlie": {
        "age": 28,
        "position": "Designer",
        "department": "Marketing"
    }
}

Use Case:
A nested dictionary is useful when you need to represent structured data, like:

Storing employee records where each employee has details like age, job title, and department.
Storing student records with subjects and grades for each student.
Representing complex configurations where multiple settings are grouped together.
Example Use Case:
If you want to get Bob’s position from the nested dictionary:

In [13]:
print(company["Bob"]["position"])  # Output: Developer

Developer

17. Describe the time complexity of accessing elements in a dictionary?
 - Accessing elements in a dictionary is very fast, with a time complexity of O(1), which means it takes constant time, no matter how big the dictionary is.

- Dictionaries use a hash table, which allows Python to quickly find where the value is stored using the key. So, looking up a key doesn't depend on how many items are in the dictionary.

Example:

In [15]:
my_dict = {'apple': 1, 'banana': 2}
print(my_dict['banana'])  # Output: 2

2

18.  In what situations are lists preferred over dictionaries?
  
  Lists are better than dictionaries in these situations:

- When the order of items matters: Lists keep the order of items, so if you need to access elements by their position, use a list.

Example: A list of names in order:

In [17]:
names = ["Alice", "Bob", "Charlie"]

- When you don’t need key-value pairs: If you just need to store values without labels (keys), a list is simpler.

Example: A list of ages:

In [18]:
ages = [20, 25, 30]

- When you have similar items: Lists are great for storing many items of the same type, like numbers or strings.

Example: A list of scores:

In [19]:
scores = [80, 90, 95]

- When you want to slice or modify elements: Lists allow you to change items, add new ones, or get parts of the list.

Example: Getting part of a list:

In [20]:
numbers = [1, 2, 3, 4, 5]
print(numbers[1:4])  # Output: [2, 3, 4]

[2, 3, 4]

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries in Python are unordered because they don't store items in any specific order. When you add items to a dictionary, they are placed in a way that makes looking them up fast, but not in the order you added them.

Why are they unordered?
- Python uses a method called hashing to quickly find the location of a key. This means the order of items is not important to the dictionary.
How does this affect data retrieval?
You can quickly find a value using its key (which is very fast), but you can’t rely on the order of items when you loop through the dictionary.
Example:

In [21]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
for key in my_dict:
    print(key)

apple
banana
cherry

20. Explain the difference between a list and a dictionary in terms of data retrieval?

  Main difference between a list and a dictionary in terms of data retrieval is how you access the elements:

 - List:
Data retrieval is done by index.
Lists are ordered, so the elements are accessed using their position (or index) in the list.
The index starts from 0, so the first item is at index 0, the second at index 1, and so on.
Example:

In [22]:
my_list = [10, 20, 30, 40]
print(my_list[2])  # Output: 30 (accessing by index)

30

- Dictionary:
Data retrieval is done by key.
Dictionaries are unordered, and you access elements using their key, not an index.
Each item is a key-value pair, where the key is unique, and the value is the data associated with that key.
Example:

In [23]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
print(my_dict['banana'])  # Output: 2 (accessing by key)

2









###Practical questions

1.  Write a code to create a string with your name and print it?

In [24]:
# Create a string with your name
name = "Akansha"

# Print the string
print(name)

Akansha

2. Write a code to find the length of the string "Hello World"?

In [25]:
# Define the string
my_string = "Hello World"

# Find and print the length of the string
length = len(my_string)
print(length)

11

3.  Write a code to slice the first 3 characters from the string "Python Programming"?

In [26]:
# Define the string
my_string = "Python Programming"

# Slice the first 3 characters
sliced_string = my_string[:3]

# Print the sliced string
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [27]:
# Define the string
my_string = "hello"

# Convert the string to uppercase
uppercase_string = my_string.upper()

# Print the uppercase string
print(uppercase_string)

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [28]:
# Define the string
my_string = "I like apple"

# Replace "apple" with "orange"
updated_string = my_string.replace("apple", "orange")

# Print the updated string
print(updated_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [29]:
# Create a list with numbers 1 to 5
my_list = [1, 2, 3, 4, 5]

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].?

In [30]:
# Define the list
my_list = [1, 2, 3, 4]

# Append the number 10 to the list
my_list.append(10)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [31]:
# Define the list
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [32]:
# Define the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].?

In [33]:
# Define the list
my_list = [10, 20, 30, 40, 50]

# Reverse the list
my_list.reverse()

# Print the reversed list
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [34]:
# Create the tuple
my_tuple = (100, 200, 300)

# Print the tuple
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [35]:
# Define the tuple
my_tuple = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = my_tuple[-2]

# Print the second-to-last element
print(second_to_last)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [36]:
# Define the tuple
my_tuple = (10, 20, 5, 15)

# Find the minimum number in the tuple
min_value = min(my_tuple)

# Print the minimum value
print(min_value)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [37]:
# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [38]:
# Create the tuple with fruits
fruits_tuple = ('apple', 'banana', 'cherry')

# Check if "kiwi" is in the tuple
is_kiwi_present = 'kiwi' in fruits_tuple

# Print the result
print(is_kiwi_present)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [41]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [42]:
# Define the set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the empty set
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [43]:
# Define the set
my_set = {1, 2, 3, 4}

# Remove the element 4 from the set
my_set.remove(4)

# Print the updated set
print(my_set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [44]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1 | set2

# Print the union of the sets
print(union_set)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [45]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1 & set2

# Print the intersection of the sets
print(intersection_set)

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [46]:
# Create the dictionary
my_dict = {
    "name": "Akansha",
    "age": 25,
    "city": "Delhi"
}

# Print the dictionary
print(my_dict)

{'name': 'Akansha', 'age': 25, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [47]:
# Define the dictionary
my_dict = {'name': 'John', 'age': 25}

# Add the new key-value pair
my_dict['country'] = 'USA'

# Print the updated dictionary
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [48]:
# Define the dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Access the value associated with the key "name"
name_value = my_dict['name']

# Print the value
print(name_value)

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [49]:
# Define the dictionary
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
del my_dict['age']

# Print the updated dictionary
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [50]:
# Define the dictionary
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists in the dictionary
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [51]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [52]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [24, 33, 33, 56, 63]

28. Write a code to create a list with strings and print the element at the third index

In [53]:
# Create a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (index 3)
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [54]:
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the dictionaries using the update() method
dict1.update(dict2)

# Print the combined dictionary
print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. Write a code to convert a list of strings into a set.

In [55]:
# Create a list of strings
my_list = ["apple", "banana", "cherry", "apple", "date"]

# Convert the list into a set (duplicates will be removed)
my_set = set(my_list)

# Print the set
print(my_set)

{'banana', 'cherry', 'date', 'apple'}